.footer{
    background-color: rgb(16, 182, 237);
    width: 100%;
    display: flex;
    bottom: 0;
    padding: 0.25rem;
    justify-content: space-around;

}

.footer h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    color: aliceblue;
    text-align: center;
}