

.auth {
  width: 50%;
  margin: 3rem auto;
  padding: 2rem;
  border-radius: 6px;
  background-color: #bcbaee;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);

}

.auth h1{
    text-align: center;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-style: italic;
}

.control{
    margin-bottom:0.5rem ;
}

.control label{
    display: block;
    font-weight: bold;
    margin-bottom:0.5rem ;
}

.actions {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .actions Button {
    cursor: pointer;
    font: inherit;
    background-color: #0c77e3;
    border: 1px solid #e2bede;
    border-radius: 4px;
    padding: 0.5rem 2.5rem;
  }
  
  .actions Button:hover {
    background-color: #0b0b0b;
   color: aliceblue;
  }
  
  .actions .toggle {
    margin-top: 1rem;
    background-color: transparent;
    color: #10100f;
    border: none;
    padding: 0.15rem 1.5rem;
  }
  
  .actions .toggle:hover {
    background-color: transparent;
    color: #0a6cf5;
  }

  .text {
    text-align: center;
    color: #f0ece9;
    font-size: 80px;
    font-weight: 900;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRG9TX8nLzZsoPn8sUN2Jv6qqfh9Qt7PPR53w&s');
    background-size: cover;
    background-clip:text;
    -webkit-background-clip: text;
    color: transparent;
  }